  
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Oct-2019, 12:26:49
    Author     : victor
*/

* {
    box-sizing: border-box;
}

.header {
    background: white;
    text-align: center; 
    padding-bottom: 2%;
}

.header h1 {
    font-size: 4vw;
}  

.headingh1 {
    font-family: FrontageCondensed;
    font-size: 300%;
}  

.headingh2 {
    font-family: FrontageCondensed;
    font-size: 300%;
}

@media screen and (max-width: 1000px) {
    .headingh2 {
        
      font-size: 250%;
       
    }
}

@media screen and (max-width: 800px) {
    .headingh2 {
        
      font-size: 250%;
       
    }
}

@media screen and (max-width: 600px) {
    .headingh2 {
        
      font-size: 120%;
       
    }
}

@media screen and (max-width: 400px) {
    .headingh2 {
        
      font-size: 80%;
       
    }
}

@media screen and (max-width: 300px) {
    .headingh2 {
        
      font-size: 90%;
       
    }
}

@media screen and (max-width: 200px) {
    .headingh2 {
        
      font-size: 60%;
       
    }
}

.P {
     font-size: 100%;
}

.P1 {
     font-size: 100%;
}

.main { 
    flex: 90%; 
    background-color: white; 
    padding: 20px; 
    text-align: center;

}

@media screen and (max-width: 1000px) {
    .P {
        
      font-size: 120%;
       
    }
}

@media screen and (max-width: 800px) {
    .P {
        
      font-size: 120%;
       
    }
}

@media screen and (max-width: 600px) {
    .P {
        
      font-size: 200%;
       
    }
}
@media screen and (max-width: 400px) {
    .P {
        
      font-size: 180%;
       
    }
}

@media screen and (max-width: 1000px) {
    .P1 {
        
      font-size: 100%;
       
    }
}
@media screen and (max-width: 600px) {
    .P1 {
        
      font-size: 75%;
       
    }
}
@media screen and (max-width: 400px) {
    .P1 {
        
      font-size: 50%;
       
    }
}

@media screen and (max-width: 200px) {
    .P1 {
        
      font-size: 35%;
       
    }
}

.Merge {
        
       max-width: 100%;
       
    }

@media screen and (max-width: 1000px) {
    .Merge {
        
       max-width: 100%;
       
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 1%;   
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3%;  
    text-align: center;
    padding-top: 2rem;
   
}

@media screen and (max-width: 992px) {
    .footer {
        position: absolute;
    bottom: 0;
    width: 100%;
    height: 3%;  
    text-align: center;
    
    }
}



.column {
  float: left;
  width: 25%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
 
}


@font-face {
  font-family: FrontageCondensed;
  src: url(FrontageCondensed.otf);
}

.PayOffLine{
     font-family: FrontageCondensed;
      font-size: 100%;
     text-align: center;
     padding-top: 3%;
     
}

@media screen and (max-width: 992px) {
    .PayOffLine {
        font-size: 80%;   
    }
}

@media screen and (max-width: 600px) {
    .PayOffLine {
        font-size: 40%;   
    }
}

@media screen and (max-width: 374px) {
    .PayOffLine {
        font-size: 25%;   
    }
}

@media screen and (max-width: 230px) {
    .PayOffLine {
        font-size: 20%;   
    }
}


@font-face {
  font-family: KingthingsTrypewriter;
  src: url(KingthingsTrypewriter.ttf);
}

.Typerwier{
     font-family: KingthingsTrypewriter;
      font-size: 200%;
     
}

@font-face {
  font-family: BodoniOrnaments;
  src: url(BodoniOrnaments.ttf);
}

.Flower{
     font-family: BodoniOrnaments;
     font-size: 200%;
     color: #CFA144;
     
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.button{
    text-align: center;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #CFA144;
    border: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1vw;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 800px) {
    .button {
        text-align: center;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #CFA144;
    border: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 175%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@font-face
{font-family:Wingdings;
 panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
{font-family:"Cambria Math";
 panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
{font-family:Calibri;
 panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
{font-family:"Century Gothic";
 panose-1:2 11 5 2 2 2 2 2 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{margin:0cm;
 margin-bottom:.0001pt;
 font-size:12.0pt;
 font-family:"Calibri","sans-serif";}
a:link, span.MsoHyperlink
{color:blue;
 text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
{color:#954F72;
 text-decoration:underline;}
p
{margin-right:0cm;
 margin-left:0cm;
 font-size:12.0pt;
 font-family:"Times New Roman","serif";}

.MsoChpDefault
{font-size:12.0pt;
 font-family:"Calibri","sans-serif";}
@page WordSection1
{size:595.0pt 842.0pt;
 margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
{page:WordSection1;}
/* List Definitions */
ol
{margin-bottom:0cm;}
ul
{margin-bottom:0cm;}
